body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: whitesmoke ;
  display :flex ;
  flex-direction: row;
  justify-content:  center;
  background: rgb(0,0,0);
  
  background-size: cover;
  text-align: center;
  height: 100vh
}

.app-body{

  background-color: #041F3F   ;
  width: 28rem;
  border-radius: 2em;
  height: 15rem;
  box-shadow: 0px 0px 20px rgb(71, 70, 70);
}

.dashboard{
  height : fit-content
}

.form-group > input{
  margin: 10px
}

input{
  border-radius: 8px;
  padding : 5px
  
}
button{
  border-radius: 18px;
  padding: 8px;
  font-weight: bold;
  border-color: #59575E;
}

a {
  color: #00B7FF;
}

a > img{
  height : 20px
}

.notification{
  background-color: green;
  border-radius: 2px 2px 5px 5px;
  margin-top: 5px;
  padding: 5px 0px;
}
.visualizer{

  display: flex;
  justify-content: center;
}
.visualizer-close{
  width : 150px  ;
  height:  150px  ;

  background-color: none ;
  margin: auto auto ;

  transform: translateX(-50%) translateY(-50%) ;
  transition: ease-in;

  background-image: url("/svg/giant.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;			
  opacity: 70%;

  z-index: -1;
}

.orbit-close{

  width :  150px  ;
  height:  150px ;

  transform: translateX(-50%) translateY(-50%);
  transition: ease-in;

}


.object {		
  
  animation: rotate 3.1s linear  forwards infinite normal;
}

.object2{

  animation: rotate 3.2s linear  forwards infinite normal;
}
.object3{

  animation: rotate 3.3s linear forwards infinite normal;
}
.object4{

  animation: rotate 3.4s linear  forwards infinite normal;
}
.object5{
  animation: rotate 3.5s linear  forwards infinite normal;
}
.object6{

  animation: orbit 4s linear forwards infinite normal;
}

.object7{		

  animation: orbit 4.1s linear  forwards infinite normal;
}

.object8{

  animation: orbit 4.2s linear  forwards infinite normal;
}
.object9{

  animation: orbit 4.3s linear forwards infinite normal;
}
.object10{

  animation: orbit 4.4s linear  forwards infinite normal;
}
.object11{
  animation: orbit 4.5s linear  forwards infinite normal;
}
.object12{

  animation: orbit 4.6s linear forwards infinite normal;
}


.object1:hover{
/*				transform: rotate(360deg);*/
  /*transition: all 2s ease-in-out ; */

}

@keyframes rotate{
  100%{
    
    transform: rotate(360deg) ;

  }

  50%{
    /*background-color:#C3CEDA; */
    transform:  rotate(180deg)  ;
  }

  0%{
    transform: rotate(0deg) ;
  }
}
@keyframes orbit{
  100%{
    transform: rotate(360deg) translateX(-50%)  translateY(-50%);

  }

  50%{
    /*background-color:#C3CEDA; */
  }

  0%{
    transform: rotate(0deg) translateX(-50%)  translateY(-50%);
  }
}

@keyframes zoom-in  {

  100%{
    transform: scale(50%,50%) ;
  }


  
}
@keyframes flutter {

  100%{
    background-color: rgba(0, 2, 10, 0.973);
  }

}

.head, .foot{
  color: whitesmoke;
  text-align: center;
  margin-bottom: 0;
  padding: 10px;
}

.generate{
  size: 75px;
  width: 90px ;
  height: 90px;
  margin: auto;
  margin-top: 90px;
  border-radius: 20px;
  width: 50% ;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
}

.product-view{
  display : flex ;
  justify-content: center ;
}

.clHid{
  display: none !important ;
}
.form-builder{
  display :flex ;
  flex-direction: row;
  justify-content:  center;;
  

}
.close-modal , .copy-clipboard{
  margin: 30px auto auto auto;
  width: 170px;
  height: 45px;

}

.table-builder{
  overflow: scroll;
  display :flex ;
  flex-direction: row;
  justify-content: center;
  
}

.modal{
  z-index: 999;
  background-color: #e8e8e8;
  margin: auto;
  width: fit-content;
  height: fit-content;
  padding: 35px 200px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
}

.import-builder{
  display :flex ;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container{
  padding: 10px;
  padding-bottom: 40px;
  margin-top: 10px;
  width: 190px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
}
.draggable{
  background-color: #e8e8e8;
  box-shadow: 5px 5px 5px black;
  padding: 14px;
  margin: 10px;
  color:#002153 ;
  cursor:
  move;
  width: 142px;
  opacity: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: stretch;
  height: fit-content;
  font-size: 0.7em;
}

.draggable > select, .draggable > input{
  padding: 3px;
  border-radius: 12px;
  margin: 4px;
}


.dragging{
  background-color: #0021535b;
}

.builder-mode{
  padding: 10px;
  border-radius: 14px;
}

.button{
  background-color: #6e8d0b;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff; 

}
.add-container{

  width: 75px;
  height: 45px;
  left: 160px;
  position: relative;

}

.add-control{

  width: 100px;
  height: 30px;
  position: absolute;
  bottom: 0;

}

.remove-control{

  width: 70px;
  height: 30px;
  left: 10%;
  bottom: 10%;
  size: 15px;

}

.button:hover{

	background: linear-gradient(to right,#6e8d0b, #002153, #6e8d0b);
	background-size: 700% 700%;
	animation: gradient 15s ease-in infinite;


}
.button:active{

  opacity: 0.5;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* -- ARROW 6       -- */
/* Arrow holder */
.arrowed {
	position: relative;
	height: 200px; width: 200px;
	margin: 0 20px 20px 0;
	border: 1px solid rgba(0,0,0,0.25);
}

.arrow-6 {
	/* more triangle */
	height: 10px; width: 10px;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-width: 3px 3px 0 0;
	transform: rotate(45deg);
}

.arrow-6:before, .arrow-6:after {
	content: '';
	position: absolute;
	display: block;
	height: 10px; width: 10px;
	border-width: 3px 3px 0 0;
}

.arrow-6:before {
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-width: 3px 3px 0 0;
	/* top - distance minus border */
	top: 7px; left: -10px;
}

.arrow-6:after {
	border: 1px solid rgba(255, 255, 255, 1);
	border-width: 3px 3px 0 0;
	/* top - distance plus border */
	top: -13px; left: 10px;
}